
* {
  box-sizing: border-box;
  outline: none;
  --main-color: #87b1e8;
  --main-info-width: min(55vw, 500px);
}

body {
  margin: 0;
  height: 100vh;
  background-image: url(assets/main-background.webp);
  background-size: cover;
  background-position: 60% 50%;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-block: min(3vw, 30px);
  padding-inline: min(4vw, 48px);
  font-size: min(2vw, 24px);
}

#search {
  display: flex;
  gap: min(0.4vw, 4px);
}

#search-input {
  border: none;
  border-radius: 10vw 0 0 10vw; 
  background-color: #87b1e850;
  height: min(7vw, 36px);
  width: min(60vw, 350px);
  padding-inline: 5%;
  font-size: min(3.5vw, 18px);
  color: var(--main-color);
}

#search-input::placeholder {
  color: var(--main-color);
  opacity: 50%;
}

#search-input:focus {
  border: 1px solid #87b1e8;
}

#search-button {
  border: none;
  height: min(7vw, 36px);
  width: min(7vw, 36px);
  background-color: #87b1e850;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-button:active {
  border: solid 1px var(--main-color);
}

#search-svg {
  fill: var(--main-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-info {
  width: var(--main-info-width);
  padding-block: calc(var(--main-info-width) / 15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  background-color: #000032aa;
  border-radius: 2vw;
}

#location {
  font-size: calc(var(--main-info-width) / 15);
}

#temperature {
  margin: 0;
  font-size: calc(var(--main-info-width) / 6);
}

#feels-like {
  font-size: calc(var(--main-info-width) / 20);
}

#condition-container {
  margin-top: calc(var(--main-info-width) / 20);
  width: calc(var(--main-info-width) / 1.2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--main-info-width) / 50);
}

#weather-icon {
  width: calc(var(--main-info-width) / 8);
}

#condition {
  font-size: calc(var(--main-info-width) / 18);
}