
* {
  box-sizing: border-box;
  outline: none;
  --main-light-color: #87b1e8;
  --main-dark-color: #000032cc;
}

body {
  margin: 0;
  height: 100vh;
  background-image: url(assets/main-background.webp);
  background-size: cover;
  background-position: 60% 50%;
}

header {
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-block: min(3vw, 30px);
  padding-inline: min(4vw, 48px);
  font-size: min(2vw, 24px);
}

#search {
  display: flex;
  gap: min(0.4vw, 4px);
}

#search-input {
  border: none;
  border-radius: 10vw 0 0 10vw; 
  background-color: #87b1e850;
  height: min(7vw, 36px);
  width: min(60vw, 350px);
  padding-inline: 5%;
  font-size: min(3.5vw, 18px);
  color: var(--main-color);
}

#search-input::placeholder {
  color: var(--main-light-color);
  opacity: 50%;
}

#search-input:focus {
  border: 1px solid var(--main-light-color);
}

#search-button {
  border: none;
  height: min(7vw, 36px);
  width: min(7vw, 36px);
  background-color: #87b1e850;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-button:active {
  border: solid 1px var(--main-light-color);
}

#search-svg {
  fill: var(--main-light-color);
}

main {
  height: 90%;
  width: 100%;
  padding-block: min(4vw, 40px);
  padding-inline: min(3vw, 30px);
  display: grid;
  grid-template-columns: 3fr 1fr 5fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
  "main-info hourly-info hourly-info" 
  "weekly-info weekly-info additional-info";
  gap: 2vw;
}

#main-info {
  grid-area: main-info;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-light-color);
  background-color: var(--main-dark-color);
  border-radius: 2vw;
}

#location {
  font-size: 2vw;
}

#temperature {
  margin: 0;
  font-size: 2.5vw;
}

#condition-container {
  margin-top: 1vw;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}

#weather-icon {
  width: 2.5vw;
}

#condition {
  font-size: 2.2vw;
}

#hourly-info {
  grid-area: hourly-info;
  background-color: var(--main-dark-color);
  border-radius: 2vw;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 1fr 1ffr;
}

.hourly-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-light-color);
  
  img {
    width: 3vw;
  }

  &:hover {
    opacity: 70%;
  }
  &:active {
    opacity: 100%;
  }
}

#weekly-info {
  grid-area: weekly-info;
  background-color: var(--main-dark-color);
  border-radius: 2vw;
  display: grid;
  grid-row: repeat(7, 1fr);
}

.weekly-card {
  display: flex;
  color: var(--main-light-color);
  align-items: center;
  justify-content: space-between;
  padding: min(2vw, 12px);
  font-size: min(2.5vw, 24px);

  img {
    width: min(3vw, 32px);
  }

  &:hover {
    opacity: 70%;
  }
  &:active {
    opacity: 100%;
  }
}

#weekly-date {
  width: 20vw;
}

#additional-info {
  grid-area: additional-info;
  background-color: var(--main-dark-color);
  border-radius: 2vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1.5fr;
  grid-template-areas: 
  "uv-index feels-like humidity"
  "chance-of-rain wind-speed visibility"
  "sunrise-sunset sunrise-sunset sunrise-sunset";
}

.additional-info-card {
  color: var(--main-light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: min(1vw, 8px);
  font-size: min(2vw, 24px);

  img {
    width: min(5vw, 48px);
  }
     
}

#uv-index-card {
  grid-area: uv-index;
}

#feels-like-card {
  grid-area: feels-like;
}

#humidity-card {
  grid-area: humidity;
}

#chance-of-rain-card {
  grid-area: chance-of-rain;
}

#wind-speed-card {
  grid-area: wind-speed;
}

#visibility-card {
  grid-area: visibility;
}

#sunrise-sunset-card {
  padding-inline: 2vw;
  grid-area: sunrise-sunset;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sunrise-sunset-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--main-light-color);
    font-size: min(2.5vw, 24px);

    img {
      width: min(5vw, 48px);
    }
  }
}

#sunrise-icon {
  align-items: flex-start;
}

#sunset-icon {
  align-items: flex-end;
}

#sunrise-sunset-line {
  width: 100%;
  height: 5%;
  background-color: #87b1e850;
  border: none;
  border-radius: 2vw;
}

#sunrise-sunset-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-light-color);
  font-size: min(2.5vw, 24px);
}