
* {
  box-sizing: border-box;
  outline: none;
}

:root {
  --main-light-color: #87b1e8;
  --main-dark-color: #000032cc;
  --border-radius: calc(1vw + 1vh);
  --header-size: min(calc(1vw + 1vh), 24px);
  --m-size: min(calc(1.2vw + 1.2vh), 27px);
  --h-size: min(calc(0.8vw + 0.8vh), 16px);
  --w-size: min(calc(0.9vw + 0.9vh), 18px);
  --a-size: min(calc(1vw + 1vh), 18px);
}

body {
  margin: 0;
  height: 100vh;
  background-image: url(assets/main-background.webp);
  background-size: cover;
  background-position: 60% 50%;
}

header {
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-block: calc(var(--header-size) * 1.5);
  padding-inline: calc(var(--header-size) * 2);
  font-size: var(--header-size);
  gap: 1%;
}

#temperature-unit {
  background-color: #87b1e850;
  height: min(calc(var(--header-size) * 2), 36px);
  padding-inline: calc(var(--header-size) * 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  color: var(--main-light-color);
  font-size: calc(var(--header-size) * 1);
  font-weight: 700;

  button {
    color: #87b1e850;
    font-size: inherit;
    background-color: transparent;
    border: none;

    &:hover, &:active {
      color: inherit;
      font-weight: inherit;
    }
  }
}

#temperature-unit button.selected {
  color: inherit;
  font-weight: inherit;
}

#current-info-time {
  height: min(calc(var(--header-size) * 2), 36px);
  padding-inline: calc(var(--header-size) * 1.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  background-color: #87b1e850;
  color: var(--main-light-color);
  font-size: var(--header-size);
  font-weight: 700;
  opacity: 100%;
  transition: opacity 0.5s;
  
  &:active {
    border: 1px solid var(--main-light-color);
  }
}

#current-info-time.hide {
  opacity: 0%;
}

#search {
  display: flex;
  gap: calc(var(--header-size) * 0.2);
}

#search-input {
  width: min(calc(var(--header-size) * 20), 35vw);
  height: min(calc(var(--header-size) * 2), 36px);
  border: none;
  border-radius: var(--border-radius) 0 0 var(--border-radius); 
  background-color: #87b1e850;
  padding-inline: 5%;
  color: var(--main-light-color);
  font-size: calc(var(--header-size) * 0.8);
}

#search-input::placeholder {
  color: var(--main-light-color);
  opacity: 50%;
}

#search-input:focus {
  border: 1px solid var(--main-light-color);
}

#search-button {
  height: min(calc(var(--header-size) * 2), 36px);
  width: min(calc(var(--header-size) * 2), 36px);
  border: none;
  background-color: #87b1e850;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-button:active {
  border: solid 1px var(--main-light-color);
}

#search-svg {
  fill: var(--main-light-color);
}

main {
  height: 90%;
  width: 100%;
  padding-block: min(2vw, 14px);
  padding-inline: min(4vw, 28px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-container {
  height: 90%;
  width: min(100%, 1080px);
  display: grid;
  grid-template-columns: 3fr 1fr 5fr;
  grid-template-rows: 1.5fr 2fr;
  grid-template-areas: 
  "main-info hourly-info hourly-info" 
  "weekly-info weekly-info additional-info";
  gap: min(2vw, 14px);
}

#main-info {
  grid-area: main-info;
  padding: var(--m-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-light-color);
  background-color: var(--main-dark-color);
  border-radius: 2vw;
  gap: calc(var(--m-size) * 0.7);
  opacity: 100%;
  transition: opacity 0.5s;
}

#main-info.hide {
  opacity: 0%;
}

#location {
  font-size: var(--m-size);
  text-align: center;
}

#temperature {
  font-size: calc(var(--m-size) * 1.5);
  font-weight: 700;
}

#condition-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--m-size) * 0.5);
}

#weather-icon {
  width: calc(var(--m-size) * 1.5);
}

#condition {
  font-size: var(--m-size);
}

#hourly-info {
  grid-area: hourly-info;
  background-color: var(--main-dark-color);
  border-radius: 2vw;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  opacity: 100%;
  transition: opacity 0.5s;
}

#hourly-info.hide {
  opacity: 0%;
}

.hourly-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-light-color);
  font-size: var(--h-size);
  gap: calc(var(--h-size) * 0.5);
  
  img {
    width: calc(var(--h-size) * 1.5);
  }

  &:hover {
    opacity: 70%;
  }
  &:active {
    opacity: 100%;
  }
}

#weekly-info {
  grid-area: weekly-info;
  background-color: var(--main-dark-color);
  border-radius: 2vw;
  display: grid;
  grid-row: repeat(7, 1fr);
  opacity: 100%;
  transition: opacity 0.5s;
}

#weekly-info.hide {
  opacity: 0%;
}

.weekly-card {
  display: flex;
  color: var(--main-light-color);
  align-items: center;
  justify-content: space-between;
  font-size: var(--w-size);

  img {
    width: calc(var(--w-size) * 1.5);
  }

  &:hover {
    opacity: 70%;
  }
  &:active {
    opacity: 100%;
  }
}

.weekly-date {
  width: 45%;
  padding-left: calc(var(--w-size) * 1.3);
}

.weekly-temperature {
  width: 35%;
  padding-right: calc(var(--w-size) * 1.3);
  text-align: end;
}

#additional-info {
  grid-area: additional-info;
  padding-block: calc(var(--a-size) * 1.6);
  padding-inline: calc(var(--a-size) * 0.8);
  background-color: var(--main-dark-color);
  border-radius: 2vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
  "uv-index feels-like humidity"
  "chance-of-rain wind-speed visibility"
  "sunrise-sunset sunrise-sunset sunrise-sunset";
  opacity: 100%;
  transition: opacity 0.5s;
}

#additional-info.hide {
  opacity: 0%;
}

.additional-info-card {
  color: var(--main-light-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: var(--a-size);
  text-align: center;
  gap: calc(var(--a-size) * 0.8);

  img {
    width: calc(var(--a-size) * 2);
  }
}

#uv-index-card {
  grid-area: uv-index;
}

#feels-like-card {
  grid-area: feels-like;
}

#humidity-card {
  grid-area: humidity;
}

#chance-of-rain-card {
  grid-area: chance-of-rain;
}

#wind-speed-card {
  grid-area: wind-speed;
}

#visibility-card {
  grid-area: visibility;
}

#sunrise-sunset-card {
  padding-inline: calc(var(--a-size) * 0.8);
  grid-area: sunrise-sunset;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#sunrise-sunset-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--main-light-color);
    font-size: var(--a-size);

    img {
      width: calc(var(--a-size) * 1.9);
    }
  }
}

#sunrise-icon {
  align-items: flex-start;
}

#sunset-icon {
  align-items: flex-end;
}

#sunrise-sunset-line {
  width: 100%;
  height: 5%;
  background-color: #87b1e850;
  border: none;
  border-radius: 2vw;
}

#sunrise-sunset-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-light-color);
  font-size: calc(var(--a-size) * 1.1);
}



@media screen and (max-width: 800px) {
  :root {
    --header-size: calc(0.8vw + 0.8vh);
  }

  main {
    padding-inline: 2vw;
    padding-block: 2vw;
    align-items: flex-start;
  }

  #hourly-info {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

}

@media screen and (min-width: 2400px) and (min-height: 1200px)  {

  #main-container {
    width: 1366px;
  }

  :root {
    --m-size: calc(min(calc(1.2vw + 1.2vh), 27px) * 1.3);
    --h-size: calc(min(calc(0.8vw + 0.8vh), 16px) * 1.3);
    --w-size: calc(min(calc(1.5vw + 1vh), 24px) * 1.3);
    --a-size: calc(min(calc(1vw + 1vh), 18px) * 1.3);
  }

}

@media screen and (min-width: 3840px) and (min-height: 2160px)  {

  #main-container {
    width: 2400px;
  }
 
  :root {
    --m-size: calc(min(calc(1.2vw + 1.2vh), 27px) * 2);
    --h-size: calc(min(calc(0.8vw + 0.8vh), 16px) * 2);
    --w-size: calc(min(calc(1.5vw + 1vh), 24px) * 2);
    --a-size: calc(min(calc(1vw + 1vh), 18px) * 2);
  }

}